In [299]:
my_packages <- c("tidyverse", "lme4", "nlme", "readxl", "lmerTest", "dplyr")

In [300]:
lapply(my_packages, require, character.only = TRUE)

[[1]]
[1] TRUE

[[2]]
[1] TRUE

[[3]]
[1] TRUE

[[4]]
[1] TRUE

[[5]]
[1] TRUE

[[6]]
[1] TRUE

In [25]:
# This is the start of cleaning and tidying process

In [26]:
#List excel sheets
combined_data <- excel_sheets("2_People_untidy_MD.xlsx") %>% map_df(~read_xlsx("2_People_untidy_MD.xlsx",.))
head(combined_data)

  Moon People_total msq     Date     Time
1 Muku NA           8059.53 20220628 0
2 Muku NA           8059.53 20220628 0
3 Muku NA           8059.53 20220628 0
4 Muku NA           8059.53 20220628 4
5 Muku NA           8059.53 20220628 4
6 Muku NA           8059.53 20220628 4

In [27]:
#Replace missing values with 0
combined_data[is.na(combined_data)] <- 0

In [28]:
# Divide People_total / msq to get total ppl_msq
combined_data$ppl_msq <- (combined_data$People_total / combined_data$msq)

In [29]:
#preview
head(combined_data)
tail(combined_data)

  Moon People_total msq     Date     Time ppl_msq
1 Muku 0            8059.53 20220628 0    0
2 Muku 0            8059.53 20220628 0    0
3 Muku 0            8059.53 20220628 0    0
4 Muku 0            8059.53 20220628 4    0
5 Muku 0            8059.53 20220628 4    0
6 Muku 0            8059.53 20220628 4    0

  Moon People_total msq     Date     Time ppl_msq
1 Hoku 4            8059.53 20220713 20   0.0004963069
2 Hoku 4            8059.53 20220713 20   0.0004963069
3 Hoku 4            8059.53 20220713 20   0.0004963069
4 Hoku 0            8059.53 20220713 24   0.0000000000
5 Hoku 0            8059.53 20220713 24   0.0000000000
6 Hoku 0            8059.53 20220713 24   0.0000000000

In [30]:
#all BP3 and OC concentration ([UVF]) data from individual CSV files; str preview showing NA values
conc_muku <- data.frame(read.csv("conc_muku.csv"))
conc_ole <- data.frame(read.csv("conc_ole.csv"))
conc_hoku <- data.frame(read.csv("conc_hoku.csv"))
str(conc_muku)
str(conc_ole)
str(conc_hoku)

'data.frame':	30 obs. of  4 variables:
 $ Moon: chr  "Muku" "Muku" "Muku" "Muku" ...
 $ Time: int  0 0 0 4 4 4 8 8 8 9 ...
 $ BP3 : num  12.3 13.9 11.1 20 20.1 ...
 $ OC  : num  NA NA NA NA NA ...
'data.frame':	30 obs. of  4 variables:
 $ Moon: chr  "ʻOlekūkolu" "ʻOlekūkolu" "ʻOlekūkolu" "ʻOlekūkolu" ...
 $ Time: int  0 0 0 4 4 4 8 8 8 9 ...
 $ BP3 : num  21.2 21.5 19.3 20.3 21.7 ...
 $ OC  : num  NA NA NA 15.6 12.8 ...
'data.frame':	30 obs. of  4 variables:
 $ Moon: chr  "Hoku" "Hoku" "Hoku" "Hoku" ...
 $ Time: int  0 0 0 4 4 4 8 8 8 9 ...
 $ BP3 : num  36.9 35.1 35.9 36.6 37.1 ...
 $ OC  : num  87.4 73.7 71 84.2 109.1 ...

In [31]:
#combine all [UVF] data to one data frame
conc <- rbind(conc_muku, conc_ole, conc_hoku)

In [32]:
#replace NA values with 0; str preview
conc[is.na(conc)] <- 0
str(conc)

'data.frame':	90 obs. of  4 variables:
 $ Moon: chr  "Muku" "Muku" "Muku" "Muku" ...
 $ Time: int  0 0 0 4 4 4 8 8 8 9 ...
 $ BP3 : num  12.3 13.9 11.1 20 20.1 ...
 $ OC  : num  0 0 0 0 0 ...

In [33]:
#combine [UVF] and pple from combined_data; head preview
conc_pple <- cbind(conc,combined_data)
head(conc_pple)

  Moon Time BP3      OC Moon People_total msq     Date     Time ppl_msq
1 Muku 0    12.34324 0  Muku 0            8059.53 20220628 0    0
2 Muku 0    13.92103 0  Muku 0            8059.53 20220628 0    0
3 Muku 0    11.11400 0  Muku 0            8059.53 20220628 0    0
4 Muku 4    20.03424 0  Muku 0            8059.53 20220628 4    0
5 Muku 4    20.05967 0  Muku 0            8059.53 20220628 4    0
6 Muku 4    18.89155 0  Muku 0            8059.53 20220628 4    0

In [34]:
#remove duplicate columns, reorganize columns; head preview
conc_pple_2 <- conc_pple[,-5]
conc_pple_3 <- conc_pple_2[,-8]
conc_pple_4 <- conc_pple_3[,-6]
conc_pple_fin <- conc_pple_4 %>% relocate(Date, .after = Moon)
head(conc_pple_fin)

  Moon Date     Time BP3      OC People_total ppl_msq
1 Muku 20220628 0    12.34324 0  0            0
2 Muku 20220628 0    13.92103 0  0            0
3 Muku 20220628 0    11.11400 0  0            0
4 Muku 20220628 4    20.03424 0  0            0
5 Muku 20220628 4    20.05967 0  0            0
6 Muku 20220628 4    18.89155 0  0            0

In [35]:
### Kaimana_tide dataset
Diamond_data <- read.csv("Diamond_tide.csv")
str(Diamond_data)

'data.frame':	90 obs. of  6 variables:
 $ Date    : int  20220628 20220628 20220628 20220628 20220628 20220628 20220628 20220628 20220628 20220628 ...
 $ Moon    : chr  "Muku" "Muku" "Muku" "Muku" ...
 $ Time    : num  0 0 0 4 4 4 8 8 8 9 ...
 $ Tide    : num  0.271 0.271 0.271 0.505 0.505 ...
 $ PreTide : num  0.24 0.24 0.24 0.54 0.54 0.54 0.54 0.54 0.54 -0.15 ...
 $ PostTide: num  0.54 0.54 0.54 -0.15 -0.15 -0.15 -0.15 -0.15 -0.15 2.28 ...

In [36]:
### Combining PreTide and PostTide columns into one
Diamond_data$PreTide_PostTide <- paste(Diamond_data$PreTide, Diamond_data$PostTide, sep="_")
str(Diamond_data)

'data.frame':	90 obs. of  7 variables:
 $ Date            : int  20220628 20220628 20220628 20220628 20220628 20220628 20220628 20220628 20220628 20220628 ...
 $ Moon            : chr  "Muku" "Muku" "Muku" "Muku" ...
 $ Time            : num  0 0 0 4 4 4 8 8 8 9 ...
 $ Tide            : num  0.271 0.271 0.271 0.505 0.505 ...
 $ PreTide         : num  0.24 0.24 0.24 0.54 0.54 0.54 0.54 0.54 0.54 -0.15 ...
 $ PostTide        : num  0.54 0.54 0.54 -0.15 -0.15 -0.15 -0.15 -0.15 -0.15 2.28 ...
 $ PreTide_PostTide: chr  "0.24_0.54" "0.24_0.54" "0.24_0.54" "0.54_-0.15" ...

In [37]:
### Removing old columns
##download this one as csv
tide <- Diamond_data[c("Date", "Moon", "Time", "Tide", "PreTide_PostTide")]
str(tide)

'data.frame':	90 obs. of  5 variables:
 $ Date            : int  20220628 20220628 20220628 20220628 20220628 20220628 20220628 20220628 20220628 20220628 ...
 $ Moon            : chr  "Muku" "Muku" "Muku" "Muku" ...
 $ Time            : num  0 0 0 4 4 4 8 8 8 9 ...
 $ Tide            : num  0.271 0.271 0.271 0.505 0.505 ...
 $ PreTide_PostTide: chr  "0.24_0.54" "0.24_0.54" "0.24_0.54" "0.54_-0.15" ...

In [38]:
### Tidying up the data again (Cleaning)
tide[c('PreTide', 'PostTide')] <- str_split_fixed(tide$PreTide_PostTide, '_', 2)
str(tide)

'data.frame':	90 obs. of  7 variables:
 $ Date            : int  20220628 20220628 20220628 20220628 20220628 20220628 20220628 20220628 20220628 20220628 ...
 $ Moon            : chr  "Muku" "Muku" "Muku" "Muku" ...
 $ Time            : num  0 0 0 4 4 4 8 8 8 9 ...
 $ Tide            : num  0.271 0.271 0.271 0.505 0.505 ...
 $ PreTide_PostTide: chr  "0.24_0.54" "0.24_0.54" "0.24_0.54" "0.54_-0.15" ...
 $ PreTide         : chr  "0.24" "0.24" "0.24" "0.54" ...
 $ PostTide        : chr  "0.54" "0.54" "0.54" "-0.15" ...

In [39]:
### Removing extra joint column (Cleaning)
tide_2 <- tide[c("Date", "Moon", "Time", "Tide", "PreTide", "PostTide")]
str(tide_2)

'data.frame':	90 obs. of  6 variables:
 $ Date    : int  20220628 20220628 20220628 20220628 20220628 20220628 20220628 20220628 20220628 20220628 ...
 $ Moon    : chr  "Muku" "Muku" "Muku" "Muku" ...
 $ Time    : num  0 0 0 4 4 4 8 8 8 9 ...
 $ Tide    : num  0.271 0.271 0.271 0.505 0.505 ...
 $ PreTide : chr  "0.24" "0.24" "0.24" "0.54" ...
 $ PostTide: chr  "0.54" "0.54" "0.54" "-0.15" ...

In [40]:
### Convert Tide column from inches to meters
tide_2$Tide <- tide_2$Tide * 0.3048
str(tide_2)

'data.frame':	90 obs. of  6 variables:
 $ Date    : int  20220628 20220628 20220628 20220628 20220628 20220628 20220628 20220628 20220628 20220628 ...
 $ Moon    : chr  "Muku" "Muku" "Muku" "Muku" ...
 $ Time    : num  0 0 0 4 4 4 8 8 8 9 ...
 $ Tide    : num  0.0826 0.0826 0.0826 0.1541 0.1541 ...
 $ PreTide : chr  "0.24" "0.24" "0.24" "0.54" ...
 $ PostTide: chr  "0.54" "0.54" "0.54" "-0.15" ...

In [41]:
### Changing PreTide and PostTide columns from character to double strings
tide_2$PreTide = as.double(tide_2$PreTide)
tide_2$PostTide = as.double(tide_2$PostTide)
str(tide_2)

'data.frame':	90 obs. of  6 variables:
 $ Date    : int  20220628 20220628 20220628 20220628 20220628 20220628 20220628 20220628 20220628 20220628 ...
 $ Moon    : chr  "Muku" "Muku" "Muku" "Muku" ...
 $ Time    : num  0 0 0 4 4 4 8 8 8 9 ...
 $ Tide    : num  0.0826 0.0826 0.0826 0.1541 0.1541 ...
 $ PreTide : num  0.24 0.24 0.24 0.54 0.54 0.54 0.54 0.54 0.54 -0.15 ...
 $ PostTide: num  0.54 0.54 0.54 -0.15 -0.15 -0.15 -0.15 -0.15 -0.15 2.28 ...

In [42]:
### Convert PreTide and PostTide columns from inches to meters
tide_2$PreTide <- tide_2$PreTide * 0.3048
tide_2$PostTide <- tide_2$PostTide * 0.3048
str(tide_2)

'data.frame':	90 obs. of  6 variables:
 $ Date    : int  20220628 20220628 20220628 20220628 20220628 20220628 20220628 20220628 20220628 20220628 ...
 $ Moon    : chr  "Muku" "Muku" "Muku" "Muku" ...
 $ Time    : num  0 0 0 4 4 4 8 8 8 9 ...
 $ Tide    : num  0.0826 0.0826 0.0826 0.1541 0.1541 ...
 $ PreTide : num  0.0732 0.0732 0.0732 0.1646 0.1646 ...
 $ PostTide: num  0.1646 0.1646 0.1646 -0.0457 -0.0457 ...

In [43]:
#combine [UVF] and pple data with tidal data from tide_2
Diamond_all <- cbind(conc_pple_fin,tide_2)
head(Diamond_all)

  Moon Date     Time BP3      OC People_total ppl_msq Date     Moon Time
1 Muku 20220628 0    12.34324 0  0            0       20220628 Muku 0
2 Muku 20220628 0    13.92103 0  0            0       20220628 Muku 0
3 Muku 20220628 0    11.11400 0  0            0       20220628 Muku 0
4 Muku 20220628 4    20.03424 0  0            0       20220628 Muku 4
5 Muku 20220628 4    20.05967 0  0            0       20220628 Muku 4
6 Muku 20220628 4    18.89155 0  0            0       20220628 Muku 4
  Tide       PreTide  PostTide
1 0.08264164 0.073152  0.164592
2 0.08264164 0.073152  0.164592
3 0.08264164 0.073152  0.164592
4 0.15407579 0.164592 -0.045720
5 0.15407579 0.164592 -0.045720
6 0.15407579 0.164592 -0.045720

In [410]:
#remove duplicate columns
Diamond_all_1 <- Diamond_all[,-10]
Diamond_all_2 <- Diamond_all_1[,-9]
Diamond_all_fin <- Diamond_all_2[,-8]

In [420]:
head(Diamond_all_fin)
str(Diamond_all_fin)

  Moon Date     Time BP3      OC People_total ppl_msq Tide       PreTide
1 Muku 20220628 0    12.34324 0  0            0       0.08264164 0.073152
2 Muku 20220628 0    13.92103 0  0            0       0.08264164 0.073152
3 Muku 20220628 0    11.11400 0  0            0       0.08264164 0.073152
4 Muku 20220628 4    20.03424 0  0            0       0.15407579 0.164592
5 Muku 20220628 4    20.05967 0  0            0       0.15407579 0.164592
6 Muku 20220628 4    18.89155 0  0            0       0.15407579 0.164592
  PostTide  ppl_msq_s Time_s    Tide_s     Moon_s
1  0.164592 -0.996431 -1.789242 -0.7951249 1
2  0.164592 -0.996431 -1.789242 -0.7951249 1
3  0.164592 -0.996431 -1.789242 -0.7951249 1
4 -0.045720 -0.996431 -1.221229 -0.5055709 1
5 -0.045720 -0.996431 -1.221229 -0.5055709 1
6 -0.045720 -0.996431 -1.221229 -0.5055709 1

'data.frame':	90 obs. of  14 variables:
 $ Moon        : chr  "Muku" "Muku" "Muku" "Muku" ...
 $ Date        : num  20220628 20220628 20220628 20220628 20220628 ...
 $ Time        : num  0 0 0 4 4 4 8 8 8 9 ...
 $ BP3         : num  12.3 13.9 11.1 20 20.1 ...
 $ OC          : num  0 0 0 0 0 ...
 $ People_total: num  0 0 0 0 0 0 9 9 9 11 ...
 $ ppl_msq     : num  0 0 0 0 0 ...
 $ Tide        : num  0.0826 0.0826 0.0826 0.1541 0.1541 ...
 $ PreTide     : num  0.0732 0.0732 0.0732 0.1646 0.1646 ...
 $ PostTide    : num  0.1646 0.1646 0.1646 -0.0457 -0.0457 ...
 $ ppl_msq_s   : num [1:90, 1] -0.996 -0.996 -0.996 -0.996 -0.996 ...
  ..- attr(*, "scaled:center")= num 0.00357
  ..- attr(*, "scaled:scale")= num 0.00358
 $ Time_s      : num [1:90, 1] -1.79 -1.79 -1.79 -1.22 -1.22 ...
  ..- attr(*, "scaled:center")= num 12.6
  ..- attr(*, "scaled:scale")= num 7.04
 $ Tide_s      : num [1:90, 1] -0.795 -0.795 -0.795 -0.506 -0.506 ...
  ..- attr(*, "scaled:center")= num 0.279
  ..- attr(*, "scaled:scale")= num 0.247
 $ Moon_s      : num  1 1 1 1 1 1 1 1 1 1 ...

In [412]:
#Export tidy csv file
write.csv(Diamond_all_fin, "DiamondBeach_all.csv")

In [413]:
#This is the start of mixed model creation

In [414]:
Diamond_all_fin$ppl_msq_s <- scale(Diamond_all_fin$ppl_msq)

In [415]:
Diamond_all_fin$Time_s <- scale(Diamond_all_fin$Time)

In [416]:
Diamond_all_fin$Tide_s <- scale(Diamond_all_fin$Tide)

In [417]:
Diamond_all_fin$Time <- as.numeric(Diamond_all_fin$Time)

In [419]:
Diamond_all_fin = Diamond_all_fin %>%
mutate(Moon_s = recode(Diamond_all_fin$Moon, 
                      "Muku" = 1, 
                      "Hoku" = 2, 
                      "ʻOlekūkolu" = 3))

In [428]:
#Time of day effect on people m^2 
#P value shows effect on ppl_msq from time is significant
T_o_D_ppl_msq <- lm(ppl_msq_s ~ Time_s, data = Diamond_all_fin)
summary(T_o_D_ppl_msq)

Call:
lm(formula = ppl_msq_s ~ Time_s, data = Diamond_all_fin)

Residuals:
    Min      1Q  Median      3Q     Max
-1.3323 -0.7431 -0.2025  0.8924  1.6842

Coefficients:
             Estimate Std. Error t value Pr(>|t|)
(Intercept) 9.761e-17  1.037e-01   0.000   1.0000
Time_s      2.075e-01  1.043e-01   1.989   0.0498 *
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1

Residual standard error: 0.9838 on 88 degrees of freedom
Multiple R-squared:  0.04304,	Adjusted R-squared:  0.03216
F-statistic: 3.958 on 1 and 88 DF,  p-value: 0.04977

In [434]:
# Concentration of OC by time of day and ppl_msq
Time.vs.OC <- lmer(OC ~ Time_s + ppl_msq_s + (1|Moon_s), data = Diamond_all_fin)
summary(Time.vs.OC)

Linear mixed model fit by REML. t-tests use Satterthwaite's method [
lmerModLmerTest]
Formula: OC ~ Time_s + ppl_msq_s + (1 | Moon_s)
   Data: Diamond_all_fin

REML criterion at convergence: 1343.4

Scaled residuals:
    Min      1Q  Median      3Q     Max
-1.4928 -0.5148 -0.0310  0.2059  6.2195

Random effects:
 Groups   Name        Variance Std.Dev.
 Moon_s   (Intercept)  13164   114.7
 Residual             249641   499.6
Number of obs: 90, groups:  Moon_s, 3

Fixed effects:
            Estimate Std. Error      df t value Pr(>|t|)
(Intercept)  238.326     84.626   1.999   2.816    0.106
Time_s        18.656     54.145  85.026   0.345    0.731
ppl_msq_s    235.342     54.260  85.456   4.337 3.93e-05 ***
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1

Correlation of Fixed Effects:
          (Intr) Time_s
Time_s     0.000
ppl_msq_s  0.000 -0.208

In [432]:
# Concentration of BP3 by time of day and ppl_msq
Time.vs.BP3 <- lmer(BP3 ~ Time_s + ppl_msq_s + (1|Moon_s), data = Diamond_all_fin)
summary(Time.vs.BP3)

Linear mixed model fit by REML. t-tests use Satterthwaite's method [
lmerModLmerTest]
Formula: BP3 ~ Time_s + ppl_msq_s + (1 | Moon_s)
   Data: Diamond_all_fin

REML criterion at convergence: 1051.9

Scaled residuals:
    Min      1Q  Median      3Q     Max
-1.5571 -0.5514 -0.0498  0.2424  4.4539

Random effects:
 Groups   Name        Variance Std.Dev.
 Moon_s   (Intercept)  551.7   23.49
 Residual             8729.9   93.43
Number of obs: 90, groups:  Moon_s, 3

Fixed effects:
            Estimate Std. Error     df t value Pr(>|t|)
(Intercept)   56.185     16.760  1.997   3.352 0.078788 .
Time_s         5.907     10.125 85.021   0.583 0.561152
ppl_msq_s     38.245     10.148 85.408   3.769 0.000301 ***
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1

Correlation of Fixed Effects:
          (Intr) Time_s
Time_s     0.000
ppl_msq_s  0.000 -0.208

In [439]:
# Concentration of BP3 off tide, time, and ppl_msq
Tide.vs.BP3 <- lmer(BP3 ~ Tide_s + Time_s + ppl_msq_s + (1|Moon_s), data = Diamond_all_fin)
summary(Tide.vs.BP3)

Linear mixed model fit by REML. t-tests use Satterthwaite's method [
lmerModLmerTest]
Formula: BP3 ~ Tide_s + Time_s + ppl_msq_s + (1 | Moon_s)
   Data: Diamond_all_fin

REML criterion at convergence: 1044.2

Scaled residuals:
    Min      1Q  Median      3Q     Max
-1.4127 -0.6311 -0.0469  0.3015  4.5671

Random effects:
 Groups   Name        Variance Std.Dev.
 Moon_s   (Intercept)  543.6   23.32
 Residual             8744.6   93.51
Number of obs: 90, groups:  Moon_s, 3

Fixed effects:
            Estimate Std. Error     df t value Pr(>|t|)
(Intercept)   56.185     16.684  1.997   3.368  0.07818 .
Tide_s        11.789     12.600 84.066   0.936  0.35211
Time_s         2.782     10.670 84.013   0.261  0.79496
ppl_msq_s     32.289     11.989 84.394   2.693  0.00854 **
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1

Correlation of Fixed Effects:
          (Intr) Tide_s Time_s
Tide_s     0.000
Time_s     0.000 -0.313
ppl_msq_s  0.000 -0.531 -0.001

In [440]:
# Concentration of OC off tide, time, and ppl_msq
Tide.vs.OC <- lmer(OC ~ Tide_s + Time_s + ppl_msq_s + (1|Moon_s), data = Diamond_all_fin)
summary(Tide.vs.OC)

Linear mixed model fit by REML. t-tests use Satterthwaite's method [
lmerModLmerTest]
Formula: OC ~ Tide_s + Time_s + ppl_msq_s + (1 | Moon_s)
   Data: Diamond_all_fin

REML criterion at convergence: 1332.6

Scaled residuals:
    Min      1Q  Median      3Q     Max
-1.3713 -0.4853 -0.0012  0.2005  6.1741

Random effects:
 Groups   Name        Variance Std.Dev.
 Moon_s   (Intercept)  12828   113.3
 Residual             250965   501.0
Number of obs: 90, groups:  Moon_s, 3

Fixed effects:
            Estimate Std. Error      df t value Pr(>|t|)
(Intercept)  238.326     84.051   1.999   2.835   0.1052
Tide_s        51.357     67.497  84.076   0.761   0.4489
Time_s         5.039     57.160  84.017   0.088   0.9300
ppl_msq_s    209.399     64.218  84.444   3.261   0.0016 **
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1

Correlation of Fixed Effects:
          (Intr) Tide_s Time_s
Tide_s     0.000
Time_s     0.000 -0.313
ppl_msq_s  0.000 -0.531 -0.001

In [446]:
# Concentration of OC versus ppl_msq and time
PPL.vs.OC <- lmer(OC ~ ppl_msq + Time_s + (1|Moon_s), data = Diamond_all_fin)
summary(PPL.vs.OC)

Linear mixed model fit by REML. t-tests use Satterthwaite's method [
lmerModLmerTest]
Formula: OC ~ ppl_msq + Time_s + (1 | Moon_s)
   Data: Diamond_all_fin

REML criterion at convergence: 1332.2

Scaled residuals:
    Min      1Q  Median      3Q     Max
-1.4928 -0.5148 -0.0310  0.2059  6.2195

Random effects:
 Groups   Name        Variance Std.Dev.
 Moon_s   (Intercept)  13164   114.7
 Residual             249641   499.6
Number of obs: 90, groups:  Moon_s, 3

Fixed effects:
             Estimate Std. Error        df t value Pr(>|t|)
(Intercept)     3.824    100.423     3.940   0.038    0.971
ppl_msq     65725.584  15153.596    85.456   4.337 3.93e-05 ***
Time_s         18.656     54.145    85.026   0.345    0.731
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1

Correlation of Fixed Effects:
        (Intr) ppl_ms
ppl_msq -0.538
Time_s   0.112 -0.208

In [452]:
# Concentration of BP3 versus ppl_msq and time
PPL.vs.BP3 <- lmer(BP3 ~ ppl_msq + Time_s + (1|Moon_s), data = Diamond_all_fin)
summary(PPL.vs.BP3)

Linear mixed model fit by REML. t-tests use Satterthwaite's method [
lmerModLmerTest]
Formula: BP3 ~ ppl_msq + Time_s + (1 | Moon_s)
   Data: Diamond_all_fin

REML criterion at convergence: 1040.7

Scaled residuals:
    Min      1Q  Median      3Q     Max
-1.5571 -0.5514 -0.0498  0.2424  4.4539

Random effects:
 Groups   Name        Variance Std.Dev.
 Moon_s   (Intercept)  551.7   23.49
 Residual             8729.9   93.43
Number of obs: 90, groups:  Moon_s, 3

Fixed effects:
             Estimate Std. Error        df t value Pr(>|t|)
(Intercept)    18.076     19.575     3.698   0.923 0.411992
ppl_msq     10681.067   2834.192    85.408   3.769 0.000301 ***
Time_s          5.907     10.125    85.021   0.583 0.561152
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1

Correlation of Fixed Effects:
        (Intr) ppl_ms
ppl_msq -0.517
Time_s   0.107 -0.208